body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center; 
  }
  
  header h1 {
    margin: 0;
    margin-bottom: 10px;
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  .container h2 {
    margin-bottom: 20px;
  }
  
  .pro-pic {
    border-radius: 50%;
  }

  .contact-links a {
    display: inline-block;
    margin-right: 10px;
  }
  
  .tech-logos img {
    width: 50px;
    height: 50px;
    margin: 5px;
    /* margin-right: 10px; */
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .project-tile {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .project-tile h3 {
    margin-top: 0;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .project-tile a {
    display: block;
    margin-top: 10px;
  }

  .about-section {
    display: flex;
    align-items: center;
  }
  
  .profile-pic {
    flex: 0 0 150px; 
    margin-right: 25px;
  }
  
  .profile-pic img {
    width: 100%;
    height: auto;
    border: 5px solid #ffffff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  
  .about-content {
    flex: 1; 
  }
  
  @media (max-width: 768px) {
    .about-section {
      flex-direction: column; 
    }
    
    .profile-pic {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  .about-content p {
    text-align: justify;
  }


  .contact-links {
      display: flex;
      flex-direction: row;
      align-items: start;
  }

  .contact-links a, .project-tile a  {
      text-decoration: none;
      color: #333;
      font-size: 18px;
      margin-right: 20px;
      transition: color 0.3s;
  }

  .contact-links a:hover, .project-tile a:hover {
      color: #007bff;
  }

  .project-tile:hover {
    transform: translate3d(0, -2px, 0); 
  }

  .project-tile p {
    font-size: 16px;
    margin-bottom: 10px;
  }







  
  
  